</main>

<!-- footer -->
<footer class="pt-3 mt-4">
    <% const date = new Date(); %>
<p class="text-center text-secondary-body ">Wilson's Copyright © <%= date.getFullYear(); %></p>
  </footer>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="js/index.js" charset="UTF-8"></script>
</html>
